  body {
        padding-top: 0;
        margin: 0;
        font-family: Arial, sans-serif;
        background: url('homebackground.png') no-repeat center center fixed;
        background-size: cover;
        color: white;
    }
#heading{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px; 
   font-size: larger;
}
.rest{
    padding-top: 50px;
    margin-left:20px;
}
.rest h1{
    margin-bottom: 50px;
    font-size: 50px;
}
 .main{
     
    display: flex;
    flex-direction: row;

 }
 .story{
    margin-left:5px;
    margin-right:5px;
 }
 .mkl{
    padding-top: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.7);
     color: aliceblue;
        
}
.mkl ul{
    list-style-type:none;
}
 
.footer ul{
    list-style: none;
    
}

 
.footer h3{
    
    margin-left: 35px;
}
 
.mainf{
    padding-top: 5%;
}
.blow h3{
    margin-left: 35px;
}