body {
  padding-top: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('homebackground.png') no-repeat center center fixed;
  background-size: cover;
  color: white;
  
}


#sub{
  border: 2px ;
  margin-left: 5px;
  border-radius: 20px;
  width: 250px;
  height: 25px;
   
  
}
#sub:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  background-color: #FFC837;
  color:rgb(5, 5, 5);
  
}
.log{
  border:2px solid rgb(255, 255, 255);
  width:300px;
  margin-left:400px;
  padding-left: 30px;
  margin-top: 150px;
  background-color: transparent;
  backdrop-filter:blur(20px);
  box-shadow: 0 0 10px rgba(0,0,0,);
  border: 1px solid black;
  border-radius: 20px;
  
}
.log h1{
  padding-left: 40px;
   
}
.box{
  height: 25px;
  width: 250px;
  border-radius: 10px;
  
}
.box:hover{
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  color:rgb(5, 5, 5);
}